{% extends "home/template.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-xl">
    <div class="row mt-4">
      <div class="col">
        <h1 class="display-4 text-center">Ayudanos!</h1>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-6 ">
        <div class="card">
          <img src="{% static 'opensource.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Somos fieles creyentes de que la colaboracion puede solucionar los problemas y acercarnos cada vez más util nuestro tracker. El codigo de AkatsukiTracker es publico, y puedes sugerir cambios, proponear ideas, desarrollar nuevas funcionalidades, todo a traves de GitHub. </p>
            <a href="#" class="btn btn-outline-primary btn-block mdi mdi-github"> Nuestro GitHub</a>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 mt-3 mt-sm-0">
        <div class="card">
          <img src="{% static 'cafe.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">AkatsukiTracker es gratis y siempre lo será, pero en un comienzo, todo salio de nuestro bolsillo. Desde los servidores a los dominios, y trabajamos durante semanas por amor al arte. Si quieres, puedes regalarnos un cafe.</p>
            <a href="#" class="btn btn-outline-primary btn-block mdi mdi-coffee"> Un cafesito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
