{% extends "home/template.html" %}
{% load static %}
{% block content %}


<div class="row ml-3 mr-3 mt-5 mb-4">
  <div class="col mb-4">
    <div class="card">
      <img src="{% static 'correorojo.jpg' %}" height="200" class="card-img-top" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title mdi mdi-email-alert">Correo Electronico</h5>
        <p class="card-text mdi mdi-label">  a.tracker@gmail.com</p>
        <p class="card-text mdi mdi-label">  ak.tracker@outlook.com</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static 'telefonorojo.jpg' %}" height = "200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title mdi mdi-phone-forward">Llamada telefonica / SMS</h5>
        <p class="card-text mdi mdi-label" >  +56967879800</p>
        <p class="card-text mdi mdi-label" >   (2) 2303 7000</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static 'socialmedia.jpg' %}" height = "200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title mdi mdi-camera-front-variant">Redes Sociales</h5>
        <p class="card-text mdi mdi-facebook">   Akatsuki Tracker</p>
        <p class="card-text mdi mdi-instagram">  @atracker</p>

      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="container-xl">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-sm-12 ">
        <div class="card text-center ml-5 mr-5">
          <div class="container-fluid">
            <div class="container-xl">
              <div class="row justify-content-center mt-5">
                <div class="col-5 col-sm-8 col-sm-5 ">
                  <img src="{% static 'opensource.jpg' %}" height = "230" class="card-img-top" alt="...">
                </div>
              </div>
            </div>
          </div>
            <div class="card-body">
            <h5 class="card-title">Aporte constructivo</h5>
            <p class="card-text">Contamos con un desarrollo de código abierto, para aprovechar la posibilidad de compartir, modificar, y trabajar de manera colaborativa con otros usuarios, ya que somos fieles creyentes de que la ayuda mutua puede solucionar los problemas y acercarnos cada vez más a la perfección de nuestro tracker, por esto si tienes alguna acotación tanto positiva como negativa, siempre de manera constructiva, te invitamos a que la registres en nuestra sección de anotaciones.</p>
            <a href="#" class="btn btn-primary bg-akatsuki shadow-akatsuki btn-lg border #FFFFFF">Escribir...</a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Aporte monetario</h5>
            <p class="card-text">Mientras que, si deseas colaborar con un aporte monetario nos sería de mucha ayuda, ya que este será invertido en mejorar las capacidades de AkatsukiTracker, las cuales se transformarán única y exclusivamente en beneficios, para ti, y todos ustedes; nuestros usuarios.</p>
            <a href="#" class="btn btn-primary bg-akatsuki shadow-akatsuki btn-lg border #FFFFFF">Donar...</a>
          </div>
          <div class="card-footer text-muted">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
