{% extends "home/template.html" %}
{% block content %}
<div class="container">
<div class="row">
     <div class="col-md-6">
       <div class="card mb-3 border mt-5 mb-5" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/AkatsukiLogoRender.png" class="card-img " alt="..."
      	height="80">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Compra con los mejores precios!</h5>
        <p class="card-text">En Akatsuki tracker podras bla bla bla... askdjsakdjksajdkasjdksajdkasjdkjaskdj askdjaskj aksjdaskdjask djask jdakjdkasj dkjasdkasjd kasjkasj dkasjdkasj</p>
        <p class="card-text"><small class="text-muted">Algun comentario </small></p>
        <a class="nav-link text-danger btn btn-outline-danger mdi mdi-database-search" href="#">Comienza!</a>
      </div>
    </div>
  </div>
</div>
     </div>
     <div class="col-md-6">
       <img class="border mt-5 mb-5"src="static/trade.jpg"
      	width="300"
     	height="241">
     </div>




</div>
<div class="card-deck">
  <div class="card">
    <img src="static/stonks.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Funcionalidad 1</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Algun comentario </small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/scam.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Funcionalidad 2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Algun comentario </small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/correo.png" class="card-img-top" alt="..."
     	height="195>
    <div class="card-body">
      <h5 class="card-title">Funcionalidad 3</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Algun comentario </small></p>
    </div>
  </div>
</div>
  </div>
</div>
<div class="card mb-3 border mt-5 mb-5 mr-5 ml-5">
  <img src="static/logos.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Compatibilidad</h5>
    <p class="card-text">Nuestro sistema de trackeo nos permite trabajar con estas tiendas bla bla bla.....</p>
    <p class="card-text"><small class="text-muted">Algun comentario </small></p>
  </div>
</div>
{% endblock %}