{% extends "home.template.html" %}
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1 class="display-4 text-center text-primary">Bienvenido al tracker</h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h3 class="text-center text-danger">Inicia cuanto antes</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button class="btn btn-primary btn-block shadow">Registrate</button>
        </div>
      </div>
      
      
    </div>
    <div class="col">
      <div class="card shadow" >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">askjakjs</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  
</div>