<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Akatsuki Tracker{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="theme-color" content="#690312">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdi.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/rfs.css' %}" >

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-akatsuki" >
  <a class="navbar-brand" href="/">
    <img class="mr-4" src="{% static 'logo/transparente.png' %}" height="50" alt="AkatsukiLogo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a href="/trending" class="nav-link"> Trending</a>
      <a href="/about" class="nav-link"> Quienes somos</a>
      <a href="/contacto" class="nav-link"> Contactanos</a>
    </div>
      <a href="/login" class="btn btn-outline-light mdi mdi-login mr-2" > Log in</a>
      <a href="/register" class="btn btn-outline-light mdi mdi-new-box"> Sign Up</a>
  </div>
</nav>


{% block content %}{% endblock %}

<footer class="text-white container-fluid bg-akatsuki">
  <div class="row align-items-center" style="min-height:30vh">
    <div class="col text-center">
      Proyecto para IGW
    </div>
    <div class="col text-center">
      <a class="mdi mdi-webpack text-white" href="">Akatusuki en GitHub</a>
    </div>
    <div class="col text-center">
      evpdfis
    </div>
  </div>
</footer>

</body>
</html>
