@font-face { font-family: Pacifico; src: url('/src/fonts/Pacifico.ttf'); }
@font-face { font-family: Cookie; src: url('/src/fonts/Cookie-Regular.ttf'); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  min-height: 30vh;
  max-height: 30vh;
}

.container-fluid {
  flex: 1 0 auto;
}

nav {
  min-height: 80px;
  width: 100vw;
}

.img-vitrina{
  height: 35vh;
  object-fit: contain;
}

.img-portada{
  height: 25vh;
  object-fit: cover;
}

.my-10{
  margin-top: 15vh!important;
  margin-bottom: 15vh!important;
}

.mt-10{
  margin-top: 15vh!important;
}
.mb-10{
  margin-bottom: 15vh!important;
}

.shadow-primary{
  box-shadow: 0 .5rem 1rem rgba(0,123,255,.15)!important;
}
.shadow-success{
  box-shadow: 0 .5rem 1rem rgba(30,126,52,.15)!important;
}
.shadow-danger{
  box-shadow: 0 .5rem 1rem rgba(248,215,218,.60)!important;
}
.shadow-info{
  box-shadow: 0 .5rem 1rem rgba(209,236,241,.60)!important;
}
.shadow-akatsuki{
  box-shadow: 0 .5rem 1rem rgba(105,3,18,.60)!important;
}

.border-akatsuki{
  border-color: #690312 !important;
}



#div-stickyButtons {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.overlay-div{
   height:100%;
   width: 100%;
   position:absolute;
   background-color:#000;
   opacity:.30;

}

/* Colors */
.bg-ortopedia{
  background-color: #461b7e
}

.bg-orange{
  background-color: #fd7e14
}

.bg-black {
  background-color: #222;
}

.bg-akatsuki{
  background-color: #690312 !important;
}

.bg-lightblue {
  background-color: #E0FEFE;
}
.bg-blue {
  background-color: #DEEEFF;
}
