{% load static %}
<footer class="text-white container-fluid bg-akatsuki mt-5" >
  <div class="row align-items-center footer">
    <div class="col text-center">
      UTFSM
    </div>
    <div class="col text-center">
      <a class="mdi mdi-webpack text-white" href="https://github.com/AkatsukiTracker"> Akatsuki en GitHub</a>
    </div>
    <div class="col text-center">
      <a class="mdi mdi-wordpress text-white" href="https://akatsukitracker.wordpress.com"> Akatsuki en Wordpress</a>
    </div>
  </div>
</footer>
