{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-akatsuki" >
  <a class="navbar-brand" href="/">
    <img class="mr-4" src="{% static 'logo/transparente.png' %}" height="50" alt="AkatsukiLogo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      {% if user %}
        <a href="/tracker" class="nav-link"> Mis productos</a>
      {% endif %}
      <a href="/tracker/trending" class="nav-link"> Trending</a>
      <a href="/about" class="nav-link"> Nosotros</a>
      <a href="/contribuye" class="nav-link"> Contribuye</a>
    </div>
      {% if user %}
        <a href="/tracker/profile" class="btn btn-outline-light mr-2">{{user}}</a>
        <a href="/logout" class="btn btn-outline-light mdi mdi-logout">Log out</a>
      {% else %}
        <a href="/login" class="btn btn-outline-light mdi mdi-login mr-2" > Log in</a>
        <a href="/register" class="btn btn-outline-light mdi mdi-new-box"> Sign Up</a>
      {% endif %}
  </div>
</nav>


