{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Mis productos{% endblock %}
{% block script %}
<script type="text/javascript">

  {% autoescape off %}
    const productos = {{ productos_json }}
    const links = {{ links }}
    const historiales = {{ historiales }}
  {% endautoescape %}

</script>

<script defer type="text/javascript" src="{% static 'js/tracker.js' %}"></script>
{% endblock %}
{% block content %}

<div class="container-fluid px-0 px-sm-3">
  <div class="container-lg px-1 px-sm-3">
    <div class="row px-3">
      <div class="col">

        <div class="row my-5  justify-content-between">
          <div class="col-6 col-sm-8">
             <h1 class="display-4">Mis productos</h1>
          </div>
          {% if productos %}
            <div class="col-6 col-sm-4 align-self-center">
              <button class="btn bg-akatsuki text-white mdi mdi-plus shadow btn-block" data-toggle="modal" data-target="#modal-newProduct">Agregar producto</button >
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if productos %}
      <div class="row">
        <div class="col">
          <table class="table table-striped border rounded shadow mb-5">
            <thead>
              <tr>
                <th class="align-middle">Producto</th>
                <th class="align-middle d-none d-sm-table-cell">Tienda</th>
                <th class="align-middle" >Ultimo precio</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}

                <tr>
                  <th class="align-middle">{{producto.nombre}}</th>
                  <td class="align-middle d-none d-sm-table-cell">{{producto.tienda}}</td>
                  <td class="align-middle">${{producto.precio}}</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn bg-akatsuki text-white mdi mdi-dots-vertical" data-toggle="modal" data-target="#modal-details" onclick="details({{producto.id}})">Info</button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <img src="{% static 'img/empty.webp' %}" class="responsive-img" style="width: 100%">
        </div>
        <div class="col-12 col-md-6 mt-5">
          <div class="row justify-content-center">
            <div class="col-10">
              <h1 class="display-4 text-center">No hay nada por aqui</h1>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-8">
              <button class="btn bg-akatsuki btn-block text-white mdi mdi-plus shadow btn-lg" data-toggle="modal" data-target="#modal-newProduct">
                Agregar mi primer producto
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<!-- Modal Agregar -->
<div class="modal fade" id="modal-newProduct" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar producto</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="add_product/" method="POST" id="form-addProduct">
          {% csrf_token %}
          <input type="text" class="form-control" id="input-datos" name="datos" hidden="">
          <div class="input-group">
            <input type="url" class="form-control" id="input-url" name="url">
            <div class="input-group-append">
              <button id="btn-checkUrl" class="btn btn-outline-secondary mdi mdi-check" type="button" onclick="check_url()">Comprobar</button>
            </div>
          </div>
          <small class="form-text text-muted">Recuerda que debe ser una tienda soportada</small>

          <div class="mt-5">
            <h1 class="text-center display-4 mb-5" id="producto-nombre"></h1>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Como agregar productos</h5>
                Debes hacer doble click en el link que aparece en la parte superior de la pantalla, copiarlo, y pegarlo aca.
                <img class="img-responsive d-flex mx-auto mt-2 border rounded" src="{% static 'img/tutorial-pc.png' %}">
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button id="btn-submitUrl" type="submit" form="form-addProduct" class="btn bg-akatsuki text-white" disabled>Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Info -->
<div class="modal fade" id="modal-details" tabindex="-1" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalDetails-title" class="modal-title">Nombre del producto</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <canvas id="canvas-chart" width="400" height="200"></canvas>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="check-destacados">
                  <label class="custom-control-label">Notificaciones</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modalDetails-delete" class="btn btn-outline-secondary mdi-trash">Eliminar producto</button>
        <a id="modalDetails-deleteConfirm" class="btn bg-akatsuki text-white mdi mdi-trash" href="" hidden>Eliminar</a>
        <button id="modalDetails-deleteNotConfirm" data-dismiss="modal" class="btn bg-akatsuki text-white">Ok</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
