{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Mis productos{% endblock %}
{% block content %}



<div class="container-fluid">
  <div class="container-lg">
    <div class="row">
      <div class="col">
        <div class="row my-5 justify-content-between">
          <div class="col-7">
             <h1 class="display-4">Mis productos</h1>
          </div>
          <div class="col-3 align-self-center">
            <button class="btn bg-akatsuki text-white mdi mdi-plus shadow" data-toggle="modal" data-target="#modal-newProduct">Agregar producto</button >
          </div>
        </div>
        <div class="row justify-content-center" hidden>
          <div class="col-12 col-md-6">
            <img src="{% static 'img/empty.webp' %}" class="responsive-img" style="width: 100%">
          </div>
          <div class="col-12 col-md-6 mt-5">
            <div class="row justify-content-center">
              <div class="col-10">
                <h1 class="display-4 text-center">No hay nada por aqui</h1>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <div class="col-8">
                <button class="btn bg-akatsuki btn-block text-white mdi mdi-plus shadow btn-lg" data-toggle="modal" data-target="#modal-newProduct">
                  Agregar mi primer producto
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-striped border rounded shadow mb-5">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Tienda</th>
                  <th scope="col">Ultimo precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos %}
                  <tr>
                    <th class="align-middle">{{producto.nombre}}</th>
                    <td class="align-middle">{{producto.tienda}}</td>
                    <td class="align-middle">${{producto.precio}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn bg-akatsuki text-white mdi mdi-dots-vertical">Info</button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-newProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar producto</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="add_product/" method="POST" id="form-addProduct">
          {% csrf_token %}
          <input type="text" class="form-control" id="input-datos" name="datos"> <!-- ponle hidden acá al final -->
          <div class="input-group">
            <input type="url" class="form-control" id="input-url" name="url">
            <div class="input-group-append">
              <button id="btn-checkUrl" class="btn btn-outline-secondary mdi mdi-check" type="button" onclick="check_url()">Comprobar</button>
            </div>
          </div>
          <small class="form-text text-muted">Recuerda que debe ser una tienda soportada</small>
          <div class="mt-5">
            <h1 class="text-center display-4" id="producto-nombre"></h1>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button id="btn-submitUrl" type="submit" form="form-addProduct" class="btn bg-akatsuki text-white" disabled>Ok</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
