{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Mis productos{% endblock %}

{% block script %}

<script defer type="text/javascript" src="{% static 'js/profile.js' %}"></script>

<script>
  const csrf = "{{ csrf_token }}"
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container-xl">
    <div class="row mt-4">
      <div class="col">
        <div class="card shadow">
          <div class="row no-gutters">
            <div class="col-6 col-sm-4 col-md-2">
              <img src="/media{% static img %}" style="object-fit: cover" class="card-img h-100">
            </div>
            <div class="col-6 col-sm-8 col-md-10">
              <div class="card-body">
                <h5 class="card-title">{{ nombre }}</h5>
                <p class="card-text">{{ email }}</p>
                <p class="card-text"><small class="text-muted">Usuario desde {{ fecha }}</small></p>
                <h1 class="display-4 text-center">  </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        {% for message in messages %}
          {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Perfecto!</strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-warning" role="alert">
               <strong>Error!</strong>{{message}}
            </div>
          {% endif%}
        {% endfor %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Ajustes de cuenta</h5>
            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-password">
              Cambiar contraseña
            </button>
            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-email">
              Cambiar mail
            </button>
             <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-picture">
              Cambiar imagen
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Ajustes de notificaciones</h5>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check-oferta" {% if notificaciones %} checked {% endif %}>
              <label class="custom-control-label" for="check-oferta" >Productos en oferta</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check-trending" {% if trending %} checked {% endif %}>
              <label class="custom-control-label" for="check-trending" >Productos destacados</label>
            </div>
            <span class="badge badge-primary" id="badge-notificaciones-OK" hidden>Actualizado!</span>
            <span class="badge badge-danger" id="badge-notificaciones-NOTOK" hidden>Error!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-email" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambiar mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-email" action="/tracker/change_email" method="POST" class="needs-validation" novalidate >
          {% csrf_token %}
          <div class="form-group">
            <label>Direccion actual</label>
            <input type="email" name="old_email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Nueva dirección</label>
            <input type="email" name="new_email1" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Confirma la dirección</label>
            <input type="email" name="new_email2" class="form-control" required>
            <div class="invalid-feedback">
              Ingresa un correo válido.
            </div>
            <small id="emailHelp" class="form-text text-muted">Recibirás un correo notificando el cambio</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" form="form-email" class="btn btn-primary">Cambiar mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-password" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambio de contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-password" action="/tracker/change_password" method="POST" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label>Contraseña actual</label>
            <input type="password" class="form-control" id="input-oldPassword" name="old_password" required>
            <div class="invalid-feedback">
              Ingresa una contraseña válida.
            </div>
            <small class="form-text text-muted"></small>
          </div>
          <div class="form-group mt-4">
            <label>Nueva contraseña</label>
            <input type="password" class="form-control" id="input-newPassword1" name="new_password1" required>
            <div class="invalid-feedback">
              Ingresa una contraseña válida.
            </div>
            <small class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label>Repite tu nueva contraseña</label>
            <input type="password" class="form-control" id="input-newPassword2" name="new_password2" required>
            <div class="invalid-feedback">
              Ingresa una contraseña válida.
            </div>
            <small class="form-text text-muted"></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" form="form-password" class="btn btn-primary">Cambiar contraseña</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-picture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambio de imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-picture" method="POST" action="/tracker/profile_picture" enctype="multipart/form-data" class="needs-validation" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" required>
            <label class="custom-file-label" accept="image/*" >Escoger imagen</label>
            <div class="invalid-feedback">
              Sube una imagen válida.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" form="form-picture" class="btn btn-primary">Cambiar imagen</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
