{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Mis productos{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container-lg">

    <div class="row my-5 justify-content-between">
      <div class="col-7">
         <h1 class="display-4">Trending</h1>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      {% for producto in productos %}
      <div class="col mt-4">
        <div class="card h-100" >
          <img src="{{  producto.img  }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ producto.tienda }}</h6>
            <p class="card-text">${{ producto.precio }} <br>
            {{ producto.subscripciones }} Suscritos</p>
            <a href="#" class="btn btn-primary btn-block">Añadir</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
