{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Mis productos{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container-lg">

    <div class="row my-5 justify-content-between">
      <div class="col-7">
         <h1 class="display-4">Trending</h1>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col mt-4">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary btn-block">Añadir</a>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary btn-block">Añadir</a>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary btn-block">Añadir</a>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary btn-block">Añadir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
