{% extends "users/template.html" %}
{% load static %}
{% block title %}Login {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container-xl">
  <div class="row">
    <div class="col mt-5">
      <a href="/">
        <img class="img-fluid m-auto d-block" src="{% static 'logo/blanco.png' %}" style="height: 15vh" alt="AkatsukiLogo">
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card border-akatsuki shadow-akatsuki">
        <div class="card-body">
          <h3 class="display-4 mb-3 text-center">Inicia sesion</h3>
            {% for message in messages %}
              <div class="alert alert-warning" role="alert">
                {{message}}
              </div>
            {% endfor %}
            <form method="POST" action="">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="mdi mdi-face input-group-text"></div>
                </div>

                <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
              </div>

              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="mdi mdi-form-textbox-password input-group-text"></div>
                </div>
                <input type="password" name="password" placeholder="Contraseña" class="form-control">
              </div>

              <div class="d-flex justify-content-center mt-3">
                <button class="btn bg-akatsuki shadow-akatsuki text-white mdi mdi-send" type="submit" value="Login"> Login</button>
              </div>


            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-akatsuki border-akatsuki">
        <div class="card-body">
          <h3 class="text-center mb-2">No tienes una cuenta?</h3>
          <a href="{% url 'register' %}" class="btn bg-akatsuki btn-block text-white shadow-akatsuki"> Registrate</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
